@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
	display: flex;

	@if $direction != row {
		flex-direction: $direction;
	}

	@if $justify != flex-start {
		justify-content: $justify;
	}

	@if $align != stretch {
		align-items: $align;
	}
}

@mixin square($size, $radius: 0) {
	width: $size;
	height: $size;

	@if $radius != 0 {
		border-radius: $radius;
	}
}
